.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #642b6d;

  z-index: 1;

  /* Any change to the top position of the navbar (for example, 
  moving it up to hide or back down to show) will be smoothly 
  animated. */
  transition: top 0.5s;
}

/*Class will be triggered when the user scrolls down*/
.navbar.hidden {
  top: -60px;
  box-shadow: none;
}

h1 {
  margin-left: 100px;
  font-family: "Josefin Sans", "sans-serif";
  font-weight: 1000;
}
